<!doctype html>
<html>
{% include head.html %}
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
     <link rel="stylesheet" title="Fruity" href="themes/pygments-fruity.css">
     <link rel="stylesheet" title="Monokai" href="themes/pygments-monokai.css">
     <link rel="stylesheet" title="Native" href="themes/pygments-native.css">
     <link rel="stylesheet" title="GitHub Dark" href="themes/pygments-github-dark.css">
     <link rel="stylesheet" title="Slate" href="themes/pygments-slate.css">
     <link rel="stylesheet" title="Solarized Dark" href="themes/pygments-solarized-dark.css">
     <link rel="stylesheet" title="Vim" href="themes/pygments-vim.css">
     <link rel="stylesheet" title="Wombat" href="themes/pygments-wombat.css">
     <link rel="stylesheet" title="Zenburn" href="themes/pygments-zenburn.css">
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
  </body>
</html>
